@charset 'utf-8';

:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --primary-1: #222222;
    --primary-1-light: #555555;
    --primary-1-dark: #111111;
    --primary-2: #222222;
    --primary-2-light: #555555;
    --primary-2-dark: #111111;
    --accent-1: #246783;
    --accent-2: #231449;
    --accent-3: #903412;
    --neutral-1: #f7e4cc;
    --neutral-2: #dff3e3;
}