@import url('./defaults.css');

h1, h2, h3, h4, h5, h6, p {
    text-align: left;
    margin: 10px 0;
}

h6 {
    font-weight: normal;
    font-style: italic;
}

button {
    border-radius: 10px;
    border: none;
    transition: 0.2s ease;
    padding: 10px 20px;
    box-shadow: 1px 1px 2px 1px gray;
    background-color: var(--primary-1);
    color: white;
}
button:hover {
    background-color: var(--primary-1-light);

}
button:active {
    transform: scale(0.9);
    background-color: var(--primary-1-dark);
}

.hero {
    background: linear-gradient(to left, #0a3f5c, #378dbd);
    padding: 20vh 10%;
    color: white;
    box-sizing: border-box;
    max-width: 100%;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px 15%;
    margin: auto;
}

.card {
    position: relative;
    flex-shrink: 1;
    overflow: hidden;
    isolation: isolate;
    border: 1px solid var(--primary-1);
    border-radius: 15px;
    padding: 20px;
    background-color: var(--neutral-1);
    box-shadow: 2px 2px 5px 1px gray;
    max-width: 250px;
}

.card::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: linear-gradient(110deg, red, orange, yellow, lime, cyan, blue, magenta);
    mix-blend-mode: screen;
    mask: linear-gradient(110deg, transparent 40%, #000 50%, transparent 60%) no-repeat 100% 0 / 300% 100%;
    -webkit-mask: linear-gradient(110deg, transparent 40%, #000 50%, transparent 60%) no-repeat 100% 0 / 300% 100%;
}

.card:hover::after {
    animation: sweep 2.5s infinite;
}

@keyframes sweep {
    to { mask-position: 0 0; -webkit-mask-position: 0 0; }
}